body {
	 background-color: #6699ff;
}

.company-title {
	color: #7b98d0!important;
	
}

#welcome {
	text-align: center;
}

.slider {
	max-height: 100px!important;
	
}

.call-to-action {
	text-align: center;
	
	
}

